<div class="card">
    <div class="card-body">
      <div class="card-title">
        <span>Add New FAQ</span>
        <div>
          <form (submit)="addQuestion()" class="text-primary">
            <div class="form-group">
              <label>New Question</label>
              <input type="text" class="form-control" [(ngModel)]="text" name="text" required>
            </div>
            <div class="form-group">
              <label>Answer</label>
              <input type="text" class="form-control" [(ngModel)]="answer" name="answer" required>
            </div>
            <input type="submit" class="btn btn-primary" name="Add">
          </form>
        </div>
      </div>
    </div>
  </div> 