<div class="question">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <span>{{question.text}} <a class="btn btn-link" href="#"
            (click)="question.hide = !question.hide">Show</a> | 
            <a class="btn btn-link" href="#"
            (click)="removeQuestion(question)">Remove</a>
          </span>
          <div class="card-text" [hidden]="question.hide">
            <p>{{question.answer}}</p>
          </div>
        </div>
      </div>
    </div> 
    <br>
  </div>
  